fastapi>=0.100.0
uvicorn>=0.23.0
sqlalchemy>=2.0.0
pydantic>=2.0.0
python-dotenv>=1.0.0
psycopg2-binary>=2.9.6
alembic>=1.11.0
pika>=1.3.2
requests>=2.31.0
pydo>=0.1.0
cryptography>=41.0.0
pytest>=7.4.0
httpx>=0.24.1
influxdb-client>=1.36.0
psutil>=5.9.0
paramiko>=2.9.0