{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>All Notifications</h2>
    <ul class="list-group">
        {% for notification in notifications %}
            <li class="list-group-item">
                {{ notification.message }}
                <button class="btn btn-secondary btn-sm">Mark as read</button>
            </li>
        {% empty %}
            <li class="list-group-item">You have no notifications.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
